<a href="{{front_page}}?{{term.taxonomy}}={{term.slug}}" class="relative w-full h-full aspect-video flex items-center justify-center group transition-all duration-300">
	<img class="absolute inset-0 w-full h-full object-cover" src="{{term.meta("image").url}}" alt=""/>
	<div class="bg-opacity-30 bg-black absolute inset-0 w-full h-full group-hover:bg-opacity-50"></div>
	<p class="text-white relative text-xl font-bold font-text">{{term.name}}</p>
</a>
